<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>V-Repository | My Certificates</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <script src="https://kit.fontawesome.com/720d275f39.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aos/aos.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='owl.carousel/assets/owl.carousel.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal-video/css/modal-video.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

  <style>
    body::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: rgba(0, 0, 0, 0.9);
    }

    body::-webkit-scrollbar-thumb {
        background: rgba(250, 250, 250, 0.5);
    }
    #upload_btn{
      color: black;
      font-size: 25px;
    }
    #upload_btn:hover{
      color: #71c55d;
      -webkit-transition: color 0.3s ease-out;
      -moz-transition: color 0.3s ease-out;
      -o-transition: color 0.3s ease-out;
      transition: color 0.3s ease-out
    }
  </style>
</head>

<body>
  <header id="header" class="header">
    <div class="container">

      <div class="d-flex justify-content-center">
        {% block content %}
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, msg in messages %}
                {% if category == 'success' %}
                  <h6 class="text-success">{{ msg }}</h6> &nbsp;
                {% else %}
                  <h6 class="text-danger">{{ msg }}</h6> &nbsp;
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
        {% endblock %}
      </div>

      <div id="logo" class="pull-left">
        <h1><a href="{{ url_for('index') }}"><span>V</span>-Repository</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('download') }}">Download Certificates</a></li>
          <li><a href="{{ url_for('reset') }}">Reset Password</a></li>
          <li class="menu-active"><a href="{{ url_for('all_certificates') }}">My Certificates</a></li>
          <li><a href="{{ url_for('logout') }}">Logout &nbsp;{{ username }}</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  
  <section id="hero" style="position: fixed;"></section>

  <section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="table-responsive">
                 

                  <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Number</th>
                      <th scope="col">Name on Certificate</th>
                      <th scope="col">Title of Certificate</th>
                      <th scope="col">Source</th>
                      <th scope="col">Duration</th>
                      <th scope="col">Year</th>
                      <th scope="col">Download</th>
                    </tr>
                  </thead>
                  <tbody>


                  {%for i in certificates%}   
                    <tr>
                      <th scope="row">{{ loop.index }}</th>
                      <td>{{ i.name }}</td>
                      <td>{{ i.title }}</td>
                      <td>{{ i.source }}</td>
                      <td>{{ i.duration }}</td>
                      <td>{{ i.year }}</td>
                      <td><a href="download/{{ i.name }}/{{ i.title }}/{{ i.source }}">Download</a></td>
                    </tr>
                  {%endfor%} 
                  </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
  
  <script type = "text/javascript" src = "{{ url_for('static', filename = 'jquery/jquery.min.js') }}" ></script>
  <script type = "text/javascript" src = "{{ url_for('static', filename = 'aos/aos.js') }}" ></script>
  <script type = "text/javascript" src = "{{ url_for('static', filename = 'modal-video/js/modal-video.min.js') }}" ></script>
  <script type = "text/javascript" src = "{{ url_for('static', filename = 'owl.carousel/owl.carousel.min.js') }}" ></script>
  <script type = "text/javascript" src = "{{ url_for('static', filename = 'superfish/superfish.min.js') }}" ></script>
  <script type = "text/javascript" src = "{{ url_for('static', filename = 'main.js') }}" ></script>

</body>

</html>